.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 12px;
}

.label {
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

#headerLabel {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 18px;
}

.password-field {
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.06);
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.password-field:focused {
    -fx-border-color: rgba(0, 0, 0, 0.5);
}

#saveButton {
    -fx-animated: none;
    -fx-effect: none;
    -fx-background-radius: 6px;
    -fx-background-color: #007AFF;
    -fx-text-fill: #FFFFFF;
}

#saveButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 122, 255, 0.4), 25, 0, 0, 5);
}

#saveButton:pressed {
    -fx-effect: none;
}

#cancelButton {
    -fx-animated: none;
    -fx-effect: none;
    -fx-background-radius: 6px;
    -fx-background-color: rgba(0, 0, 0, 0.11);
    -fx-text-fill: rgba(0, 0, 0, 0.8)
}

#cancelButton:hover {
    -fx-background-color: #E3E3E3;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 25, 0, 0, 5);
}

#cancelButton:pressed {
    -fx-effect: none;
}