.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 12px;
}

.label {
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

#headerLabel {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 18px;
}

#loginLabel {
    -fx-text-fill: #007AFF;
}

#loginLabel:hover {
    -fx-text-fill: rgba(0, 122, 255, 0.5);
}

.text-field {
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.06);
    -fx-text-fill: rgba(0, 0, 0, 0.8)
}

.text-field:focused {
    -fx-border-color: rgba(0, 0, 0, 0.5);
}

.password-field {
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.06);
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.password-field:focused {
    -fx-border-color: rgba(0, 0, 0, 0.5);
}

#resetButton {
    -fx-animated: none;
    -fx-effect: none;
    -fx-background-radius: 6px;
    -fx-background-color: #007AFF;
    -fx-text-fill: #FFFFFF;
}

#resetButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 122, 255, 0.4), 25, 0, 0, 5);
}

#resetButton:pressed {
    -fx-effect: none;
}

#sendButton {
    -fx-animated: none;
    -fx-effect: none;
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.11);
    -fx-graphic: url('/images/Send-Black.png');
}

#sendButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 122, 255, 0.4), 25, 0, 0, 5);
    -fx-background-color: #007AFF;
    -fx-graphic: url('/images/Send-White.png');
}

#sendButton:pressed {
    -fx-effect: none;
}

